.contact_form {
    border: 1px solid gray;
    width: 550px;
}
.contact_form .input_name_label {
    width:160px;
    display:inline-block;
    margin:5px;
    vertical-align: top;
}
.contact_form .input_text {
    padding:2px;
    margin: 5px;
    width: 300px;
}
.contact_form textarea {padding:8px; margin: 5px;width:300px;}
.contact_form button, .contact_form .input_radio, {margin-right: 40px; padding: 5px;}
.contact_form .allow_mails{
    margin:10px;
}
.wrapper{
    width:300px;
    display:inline-block;
    padding:2px;
    margin: 5px;
    margin-left: 180px;    
}
li{
    list-style-type: none;
}